fastapi
uvicorn[standard]
SQLAlchemy
alembic
pydantic
pydantic-settings
PyMySQL
cryptography
chromadb
python-dotenv
python-multipart
openai
prometheus-fastapi-instrumentator
tencentcloud-sdk-python
cos-python-sdk-v5
